{% extends 'base.html' %}
{% block content %}
<!-- Created By CodingLab - www.codinglabweb.com -->
<title>Contact Us - Dementia Learn</title>

<style>

body{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(135deg, #e69d57 10%, #ffd4d4 100%);
} 
.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  margin-top: 3vw;
  margin-bottom: 6vw;
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 10px;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 200px;
}
.right-side .input-box textarea{
  padding-top: 13px;
}

.buttonDes{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #0C6DFD;
}
@media only screen and (max-width: 800px) {
  .container{
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}
@media only screen and (max-width: 480px) {
   .buttonDes{
    width:100%;
  }
}

</style>
<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">UOW Glenmarie</div>
          <div class="text-two">Shah Alam, 10720</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+6012-123 4543</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">dementialearn@gmail.com</div>
          {% comment %} <div class="text-one">R.Chang2@westernsydney.edu.au</div> {% endcomment %}
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>Have any question? Do not worry and simply send us an inquiry!</p>
      <form method="post">
        {% csrf_token %}
        <div class="input-box">
          <input name="name" type="text" placeholder="Enter your name" value="{{ username }}">
        </div>
        <div class="input-box">
          <input name="email" type="text" placeholder="Enter your email" value="{{ email }}">
        </div>
        <div class="input-box message-box">
            <textarea name="content" placeholder="Enter your message" required></textarea>
        </div>
        <div >
          <input class="buttonDes" type="submit" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div>
</body>






{% endblock content %}

