{% extends 'base.html' %}


{% block content %}

<style type="text/css">

body {
  background-image: linear-gradient(135deg, #e69d57 10%, #ffd4d4 100%);
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333333;
  }
  
  .box-form {
    margin: 0 auto;
    margin-top: 3vw;
    margin-bottom: 6vw;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 20px 6px rgba(255, 255, 255, 0.3);
  }
  @media (max-width: 980px) {
    .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
      margin-bottom: 6vw;
    }
  }
  .box-form div {
    height: auto;
  }
  .box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/564x/8f/79/8f/8f798fe4fbb4ca95c1d5586f5b9805c6.jpg");
    overflow: hidden;
  }
  .box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: rgba(230, 157, 87, 0.9);
    overflow: hidden;
    box-sizing: border-box;
  }
  .box-form .left .overlay h1 {
    font-size: 7vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
  }
  .box-form .left .overlay span a {
    background: #3b5998;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 14px 50px;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0 3px 6px 1px #042d4657;
  }
  .box-form .left .overlay span a:last-child {
    background: #1dcaff;
    margin-left: 30px;
  }
  .box-form .right {
    padding: 40px;
    overflow: hidden;
    width: 60%;
  }
  @media (max-width: 980px) {
    .box-form .right {
      width: 100%;
    }
  }
  .box-form .right p {
    font-size: 14px;
    color: #B0B3B9;
  }
  .box-form .right a {
    font-size: 14px;
    color: #4a6db3;
  }
  .box-form .right .inputs {
    overflow: hidden;
  }
  .box-form .right input {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
  }
  .box-form .right button {
    margin-top: 3vw;
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 10px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
  }
</style>
<div class="box-form" style="margin-bottom: 6vw;">
	<div class="d-flex flex-column">
	<p class="m-auto p-2">
		We've emailed you instructions for setting your password, if an account exists with the email you entered.
		You should receive them shortly.
	  </p>
	  <p class="m-auto p-2">
		If you don't receive an email, please make sure you've entered the address you registered with,
		and check your spam folder.
	  </p>
	  <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
	</div>
</div>

{% endblock %}
