{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}

<title>Login - Dementia Learn</title>


<style type="text/css">
  
    body {
      background-image: linear-gradient(135deg, #e69d57 10%, #ffd4d4 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #333333;
      }
      
      .box-form {
        margin: 0 auto;
        margin-top: 3vw;
        margin-bottom: 6vw;
        width: 80%;
        background: #FFFFFF;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex: 1 1 100%;
        align-items: stretch;
        justify-content: space-between;
        box-shadow: 0 0 20px 6px rgba(235, 235, 235, 0.24)
        ;
      }
      @media (max-width: 980px) {
        .box-form {
          flex-flow: wrap;
          text-align: center;
          align-content: center;
          align-items: center;
        }
        .box-form .left {
          width: 100%;
        }
      }
      .box-form div {
        height: auto;
      }
      .box-form .left {
        color: #FFFFFF;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg");
        overflow: hidden;
      }
      .box-form .left .overlay {
        padding: 30px;
        width: 100%;
        height: 100%;
        background: rgba(230, 157, 87, 0.9);
        overflow: hidden;
        box-sizing: border-box;
      }
      .box-form .left .overlay h1 {
        font-size: 7vmax;
        line-height: 1;
        font-weight: 900;
        margin-top: 40px;
        margin-bottom: 20px;
        
      }
      .box-form .left .overlay span p {
        margin-top: 30px;
        font-weight: 900;
      }
      .box-form .left .overlay span a {
        background: #3b5998;
        color: #FFFFFF;
        margin-top: 10px;
        padding: 14px 50px;
        border-radius: 100px;
        display: inline-block;
        box-shadow: 0 3px 6px 1px #042d4657;
      }
      .box-form .left .overlay span a:last-child {
        background: #1dcaff;
        margin-left: 30px;
      }
      .box-form .right {
        padding: 40px;
        overflow: hidden;
      }
      @media (max-width: 980px) {
        .box-form .right {
          width: 100%;
        }
      }
      .box-form .right p {
        font-size: 14px;
        color: #B0B3B9;
      }
      .box-form .right a {
        font-size: 14px;
        color: #4a6db3;
      }
      .box-form .right .inputs {
        overflow: hidden;
      }
      .box-form .right input {
        width: 100%;
        padding: 10px;
        margin-top: 25px;
        font-size: 16px;
        border: none;
        outline: none;
        border-bottom: 2px solid #B0B3B9;
      }
      .box-form .right button {
        margin-top: 3vw;
        color: #fff;
        font-size: 16px;
        padding: 12px 35px;
        border-radius: 10px;
        display: inline-block;
        border: 0;
        outline: 0;
        background-color: #0C6DFD
      }
      .google-btn {
        width: 210px;
        height: 40px;
        background-color: #0C6DFD;
        cursor: pointer;
        border-radius: 2px;
        box-shadow: 0 3px 4px 0 rgba(0,0,0,.25); display: flex;
        margin: 0 auto;
      }
      .google-icon-wrapper {
        width:  50px;
        height: 40px;
        border-radius: 2px;
        background-color: #fff;
      }
      .google-icon {
        margin-top: 5px;
        width: 30px;
        height: 30px;
      }
      .btn-text {
        float: right;
        margin: 10px 0px 11px 11px;
        font-size: 14px;
        letter-spacing: 0.2px;
      }
      .google-btn:hover{
        box-shadow: 0 0 6px #1669F2;
      }
</style>

<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h1>Dementia Learn.</h1>
            <p>Learn how to deal with dementia patient with us through our article and quiz</p>
            </div>
    </div>
    <div class="right">
        <div>
            <form method="post" style="margin-bottom: 4vw;">{% csrf_token %}
        
                <h1><strong>Log In</strong></h1>
                <input type="email" name="email" id="inputEmail" class="inputs" placeholder="Email address" required autofocus>
            
                <input type="password" name="password" id="inputPassword" class="inputs" placeholder="Password" required>
                
                <div style="padding-top: 30px; padding-bottom: 30px;">
                    <a class="m-auto" href="{% url 'password_reset' %}">Forgotten your password?</a>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                </div>
                
                <p>Don't have an account? <a href="{% url 'register' %}">Create your account</a>, it takes less than a minute.</p>
                <div style="text-align: center; ">
                  <p style="color: black;">or</p>
                  <div class="google-btn" onclick="window.location='{% provider_login_url 'google' %}';">
                    <div class="google-icon-wrapper">
                      <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                    </div>
                    <p class="btn-text" style="color: white;">Continue with Google</p>
                  </div>
                </div>

                {% for field in login_form %}
                    {% for error in field.errors %}
                        <p style="color: red; font-size: 1.3vmax;">{{error}}</p>
                    {% endfor %}
                {% endfor %}
            
                {% if login_form.non_field_errors %}
                    <div style="color:red; font-size: 1.3vmax;">
                        <p>{{login_form.non_field_errors}}</p>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock content %}